body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width img{
    width: 60%;
}
.link-buttion{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 300;
    padding: 10ps 40px;
    border-radius: 5px;
}
.grey-color{
    color: grey;
.third-part{
text-align: center;
}
#recipe-no.1{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shawod: 10px 10px 40px gray;
    border-radius: 10%;
    border-radius: 20%;
    border-left: 7px solid blue;
    border-image: linear-gradient (blue, cyan);
    border-image-slice: 5;


}