body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width img{
    width: 60%;
}
.link-buttion{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 300;
    padding: 10ps 40px;
    border-radius: 5px;
}
.grey-color{
    color: grey;
.third-part{
text-align: center;
}