body{
    font-family: 'Poppins', sans-serif;
    margin-right: 0;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.flexible-container{
    display: flex;
    margin-bottom: 40px;
}
section{
    display: flex;
}
.half-width img{
    width: 60%;
}
.link-buttion{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 300;
    padding: 10ps 40px;
    border-radius: 5px;
}
.grey-color{
    color: grey;
}
footer {
    text-align: center;
    background-color: black;
    color:blanchedalmond;
    height: 150px;  
}
h4{
    background-color: black;
    color: blanchedalmond;
    margin: 0%;
}
p{
    width: 80%;   
}
.recipe-title{
width: 50%;
margin-left: 5%;
margin-right: 5%;
padding-left: 20px;
box-shadow: 10px 10px 40px gray ;
border-radius: 10px;
border-image-width: 5%;
background-image: unset;
}
.my-info{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;  
}
.recipe-title img{
    margin-right: 0;
    width: 80%;
}
.my-advice{
    padding: 50px;
    width: 200%;
    margin-left: 600px;
    margin-right: 0;
}
.reserve{
    text-align: center;
    margin-right: 50%;
    margin-left: 10%;
    margin-bottom: 50px;
}