body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}

.half-width{
    width: 50%;
    padding-left: 2%;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
section{
    display: flex;

}

.half-width img{
    width: 60%;
}
.link-buttion{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 300;
    padding: 10ps 40px;
    border-radius: 5px;
}
.grey-color{
    color: grey;

}

footer p{
    text-align: center;

    
}
#table{
display: flex;

}
#table div {
    margin: 0px;
    width: 80%;
    align-content: center;
}
.recipe-title{
width: 50%;
margin-left: 5%;
margin-right: 5%;
padding-left: 20px;
box-shadow: 10px 10px 40px gray ;
border-radius: 10px;
border-image-width: 5%;
}
.my-info{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.recipe-title img{
    margin-right: 0;
    width: 80%;
}